@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(open_sans_condensed.woff) format('woff');
}

body {
  font-family: 'Open Sans Condensed', 'Comic Sans', sans-serif;
}

h1 {
  margin: 0;
}

div#app_window {
  width: 94%;
  margin: 0 auto;
}

.center {
  text-align: center;
}